.topHeroes{
  list-style: none;
  margin: 0;
  padding: 0;
}
.topHeroes>li{
  width: 25%;
  height: 8em;
  background-color: #607d8b;
  float: left;
  text-align: center;
  line-height: 8em;
  color: #FFF;
}
.topHeroes>li:hover{
  background-color: #EEE;
  color: #607d8b;
}
